# NodeJS
node_modules/
build/
lib/*.node

# Release distribution
dist/

# Common
*~
*.bak
*.old
notes

# CodeLite IDE
*.workspace
*.workspace.*
.codelite/
.tern-port
.tern-project

# for testing purposes only
test.js
ftw_test/
cache_test/
