# NodeJS
node_modules/
build/
lib/*.node

# Unused files
lib/readline/*

# Common
*~
*.bak
*.old
notes

# CodeLite IDE
*.workspace
*.workspace.*
.codelite/
.tern-port
.tern-project

# for testing purposes only
history.hist
test.js
ftw_test/
