# NodeJS
/node_modules/
/build/
/lib/*.node

# Release distribution
/dist/
/dist.archive/

# Common
*~
*.bak
*.old
notes

# CodeLite IDE
*.workspace
*.workspace.*
.codelite/
.tern-port
.tern-project

# for testing purposes only
/test.js
/test.c
/test.cpp
/a.out
/ftw_test/
/cache_test/
